.idea
.vscode
.history
.DS_Store
.claude
.worktrees/

# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Coverage directory used by tools like istanbul
coverage

!packages/*/test/__fixtures__/**
dist
tmp/
